@page "/"

@using Turnos.Model.UI
@using Turnos.SharedKernel.Interfaces.Services

<div class="ext-dashboard text-centered mt-lg-5 mt-xl-0">
    <div class="row">
        <h1>Bienvenidos al Sistema de Turnos del Instituto Oftalmologico</h1>
        <img src="/images/imagen9.jpg" alt="welcome" class="img-fluid" style="width: 45%; margin: auto; display: block;" />
    </div>
</div>
