@page "/"

@using Turnos.Model.UI
@using Turnos.SharedKernel.Interfaces.Services

<div class="ext-dashboard text-centered mt-lg-5 mt-xl-0">
    <div class="row">
        <h1>Bienvenidos al Sistema de Turnos del Instituto Oftalmologico de Banfield</h1>
        <h4>-IOBA-</h4>
        <img src="/images/nena.jpg" alt="welcome" style="width: 45%; margin: auto; display: block;" />
    </div>
</div>
