@page "/parte"
@page "/licencias"

@using Turnos.Model.UI
@using Turnos.SharedKernel.Interfaces.Services

<div class="ext-dashboard text-centered mt-lg-5 mt-xl-0">
    <div class="row">
        <img style="width: 400px" src="/images/enConstruccion.png" alt="En construccion" />    
    </div>
</div>
