@page
@model LogoutModel
@{
    ViewData["Title"] = "Cerrar Sesion";
}

<header>
    @{
        if (User.Identity.IsAuthenticated)
        {
            

            <div class="container" style="padding: 10px;">
                <div class="row">
                   
                    <div class="col-md-6">
                        <div style="text-align:center">
                            <img style="display: inline-block; max-width: 200px; height: auto;"
                                 src="~/images/empresa.png"
                                 alt="Logo de Instituto Oftalmológico" />
                            <h2>Muchas gracias por visitarnos!</h2>

                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                <button type="submit" style="margin:0 auto;" class="nav-link btn btn-link text-dark">Clickear para cerrar Sesion</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6" style="text-align:center">
                        <img src="~/images/imagen3.jpg"
                             alt="welcome"
                             style="width:100%; max-height: 400px; object-fit: cover;" />
                    </div>
                </div>
            </div>
        }
        else
        {
            <p>Te deslogueaste correctamente.</p>
        }
    }
</header>
